*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #bdccd4;
  font-family: 'Poppins', sans-serif;
}
.App{
  background-color: #57687a;
  width: 55%;
  min-width: 550px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
}
img{
  background-color: transparent;
  width: 50px;
}
h1{
  background: transparent;
  color: #000033;
  font-size: 30px;
  margin-bottom: 2rem;
  font-weight: 700;
}
